
@font-face {
  font-family: 'pophappy';
  src: url('../assets/fonts/pophappy.otf') format('opentype');
}

@font-face {
  font-family: 'contb';
  src: url('../assets/fonts/contb.ttf') format('opentype');
}
@font-face {
  font-family: 'contm';
  src: url('../assets/fonts/contm.ttf') format('opentype');
}
@font-face {
  font-family: 'contl';
  src: url('../assets/fonts/contl.ttf') format('opentype');
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('../assets/bg/darkbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


#socialCont{
  display: flex;
  position: absolute;
  grid-column-gap: 1%;
}

.socials{
  width: 3%;
  transition: .2s;
}

.socials:hover{
  scale: 1.1;
}


#MainContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  align-self: center;
  height: 100vh;
}


#introHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


#introTextCont{
  flex: 1;
  align-self: start;
  margin-left: 1.2%;
}


#aboutMe{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  padding-top: 2%;
}

#aboutMeIMG{
  width:65%;
}

#channelCont {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-row-gap: 10%;


}




.channelPane{
  width: 90%;
  transition: .25s;
  margin-left: 4.5%;
  border-radius: 30px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0), 0px 4px 8px rgba(0, 0, 0, .5);

}
.channelPane:hover{
  scale: 1.15;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 1), 0px 4px 8px rgba(0, 0, 0, .5);
}






#name{
  filter: drop-shadow(-2px 5px 5px rgba(0, 0, 0, 0.25));
  margin-bottom: -55px;
}
.text{
  opacity: 0;
  color: #FFFFFF;
  font-family: "contm";
  filter: drop-shadow(-2px 5px 5px rgba(0, 0, 0, 0.25));
  transition: 1s;
}

#projTextCont{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
}

#projText{
  font-size: 40px;
}







.contentBtns{
  width: 200px;
  height: 100px;
  background-image: linear-gradient(to bottom, rgba(200, 200, 200, 1), rgba(117, 117, 117, 1));
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.7), 0px 4px 8px rgba(0, 0, 0, 1);
  color: #000000;
  font-family: contm;
  border-radius: 20px;
  border-width: 0;
  margin-right: 10%;
}

.contentBtns:hover {
  /* Other hover styles */
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.7), 0px 8px 16px rgba(0, 0, 0, 1);
}















